#title {
	left: 100px;
}
#content p {
	padding: 2px 10px 6px 20px;
	border-style: solid;
	border-width: 1px 1px 1px 10px;
	border-color: rgb(130,130,130);
	background-color: rgb(120,120,120);
}
#content p:first-line {
	font-size: 80%;
	color: rgb(38, 38, 38);
}
#content p.app {
	border-left-color: rgb(230,230,230);
}
#content p.inf {
	border-left-color: rgb(190,190,190);
}
#content p.pub {
	border-left-color: rgb(150,150,150);
}
#content p.img {
	border-left-color: rgb(70,70,70);
}
#content p.lib {
	border-left-color: rgb(30,30,30);
}
   
